@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
    background: linear-gradient(to left, #4ce4dc, #77d4eb);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    font-size: 15pt;
    font-family: 'Bebas Neue', cursive;
}
